<div class="row mt-4 mb-2">
  <div class="col-12">
    <h2 class="fw-bold">Chauffører</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th class="w-25">Kaldenavn</th>
        <th>Fulde navn</th>
        <th class="w-25">Fødselsdag</th>
        <th>Login</th>
        <th class="w-5 d-print-none"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let driver of drivers | async">
        <th>{{driver.displayName}}</th>
        <td>{{driver.name}}</td>
        <td>{{driver.birthday?.toDate()|date}}</td>
        <td>{{driver.email}}</td>
        <td class="d-print-none">
          <div class="float-end icons">
            <a class="pointer" *ngIf="!driver.uid"
               (click)="createLogin(driver)">
              <i class="fa fa-key" ngbTooltip="Opret login"></i>
            </a>
            <a class="pointer"
               (click)="edit(driver)">
              <i class="fa fa-pencil" ngbTooltip="Rediger"></i>
            </a>
            <a mwlConfirmationPopover
               class="pointer"
               [popoverMessage]="'Er du sikker på, at du vil slette chaufføren<br>\'' + driver.displayName + '\'?'"
               [confirmButtonType]="'danger'"
               [confirmText]="'Slet'"
               [cancelText]="'Annuller'"
               placement="left"
               (confirm)="removeDriver(driver)">
              <i class="fa fa-trash" ngbTooltip="Slet"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-print-none">
  <h4 class="mt-5 mb-3">Opret chauffør</h4>
  <form [formGroup]="driverForm" (ngSubmit)="create(); nickname.focus()" class="d-print-none">
    <div class="form-group row"
         [class.has-danger]="driverForm.controls['displayName'] && !driverForm.controls['displayName'].valid && driverForm.controls['displayName'].dirty">
      <label for="nickname" class="col-2 col-form-label">Kaldenavn</label>
      <div class="col-10">
        <input class="form-control" type="text" id="nickname" formControlName="displayName" #nickname>
        <div class="form-control-feedback"
             *ngIf="driverForm.controls['displayName'] && !driverForm.controls['displayName'].valid && driverForm.controls['displayName'].dirty">
          Et kaldenavn er påkrævet.
        </div>
      </div>
    </div>
    <div class="form-group row"
         [class.has-danger]="driverForm.controls['name'] && !driverForm.controls['name'].valid && driverForm.controls['name'].dirty">
      <label for="name" class="col-2 col-form-label">Navn</label>
      <div class="col-10">
        <input class="form-control" type="text" id="name" formControlName="name">
        <div class="form-control-feedback"
             *ngIf="driverForm.controls['name'] && !driverForm.controls['name'].valid && driverForm.controls['name'].dirty">
          Et navn er påkrævet.
        </div>
      </div>
    </div>
    <div class="row mt-3 form-group">
      <label for="birthday" class="col-2 col-form-label">Fødseldag</label>
      <div class="col-5 col-md-3">
        <div class="input-group">
          <input ngbDatepicker
                 #d="ngbDatepicker"
                 id="birthday"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 [showWeekNumbers]="true"
                 [minDate]="{year: 1900, month: 1, day: 1}"
                 (click)="d.toggle()"
                 formControlName="birthday">
          <div class="input-group-text" (click)="d.toggle()">
            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-end" [disabled]="!driverForm.valid">Opret</button>
  </form>
</div>
