<form class="form-signin" (ngSubmit)="login(email.value, password.value)">
  <h4 class="section-title">Driver Planner</h4>
  @if (error()) {
    <div class="app-error">{{ error() }}</div>
  }
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="inputEmail" #email required autofocus>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" id="inputPassword" #password required>
  </mat-form-field>
  <button matButton="filled" class="full-width" type="submit">
    Log ind
  </button>
</form>
