<div class="row mt-4 mb-2">
  <div class="col-12">
    <h2 class="fw-bold">Køretøjer</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Kaldenavn</th>
        <th class="w-25">Mærke</th>
        <th class="w-25">Reg. nr.</th>
        <th class="w-25">Sidst synet</th>
        <th class="w-5 d-print-none"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicle of vehicles | async">
        <th>{{vehicle.displayName}}</th>
        <td>{{vehicle.brand}}</td>
        <td>{{vehicle.regNo}}</td>
        <td>{{vehicle.latestInspection | date }}</td>
        <td class="d-print-none">
          <div class="float-end icons">
            <a class="pointer"
               (click)="edit(vehicle)">
              <i class="fa fa-pencil" ngbTooltip="Rediger"></i>
            </a>
            <a mwlConfirmationPopover
               class="pointer"
               [popoverMessage]="'Er du sikker på, at du vil slette køretøjet<br>\'' + vehicle.displayName + '\'?'"
               [confirmButtonType]="'danger'"
               [confirmText]="'Slet'"
               [cancelText]="'Annuller'"
               placement="left"
               (confirm)="removeVehicle(vehicle)">
              <i class="fa fa-trash" ngbTooltip="Slet"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-print-none">
  <h4 class="mt-5 mb-3">Opret køretøj</h4>
  <form [formGroup]="vehicleForm" (ngSubmit)="create(); nickname.focus()">
    <div class="form-group row"
         [class.has-danger]="vehicleForm.controls['displayName'] && !vehicleForm.controls['displayName'].valid && vehicleForm.controls['displayName'].dirty">
      <label for="nickname" class="col-2 col-form-label">Kaldenavn</label>
      <div class="col-10">
        <input class="form-control" type="text" id="nickname" formControlName="displayName" #nickname>
        <div class="form-control-feedback"
             *ngIf="vehicleForm.controls['displayName'] && !vehicleForm.controls['displayName'].valid && vehicleForm.controls['displayName'].dirty">
          Et kaldenavn er påkrævet.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-2 col-form-label">Mærke</label>
      <div class="col-10">
        <input class="form-control" type="text" id="name" formControlName="brand">
      </div>
    </div>
    <div class="form-group row">
      <label for="regNo" class="col-2 col-form-label">Reg. nr.</label>
      <div class="col-10">
        <input class="form-control" type="text" id="regNo" formControlName="regNo">
      </div>
    </div>
    <div class="row mt-3 form-group">
      <label for="latestInspection" class="col-2 col-form-label">Sidst synet</label>
      <div class="col-5 col-md-3">
        <div class="input-group">
          <input ngbDatepicker
                 #d="ngbDatepicker"
                 id="latestInspection"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 [showWeekNumbers]="true"
                 [minDate]="{year: 1900, month: 1, day: 1}"
                 (click)="d.toggle()"
                 formControlName="latestInspection">
          <div class="input-group-text" (click)="d.toggle()">
            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-end" [disabled]="!vehicleForm.valid">Opret</button>
  </form>
</div>
