.inline-calendar {
  width: 296px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-medium);
}

.filter-button .ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.day-heading {
  margin: 24px 0;
  font: var(--mat-sys-title-medium);
}

::ng-deep .past-day .mat-calendar-body-cell-content {
  opacity: 0.5;
}
