.inline-calendar {
  width: 296px;
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-medium);
}

.reset-option {
  font-weight: 600;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.day-heading {
  margin: 24px 0;
  font: var(--mat-sys-title-medium);
}

::ng-deep .past-day .mat-calendar-body-cell-content {
  opacity: 0.5;
}
