<div class="row mt-4 mb-2 d-print-none">
  <div class="col-12">
    <h2 class="fw-bold">
      Periodeplan
      <small>
        {{ ngbUtility.toMoment(from)?.toDate() | date:'EEEE, d MMMM' }} - {{ ngbUtility.toMoment(to)?.toDate() | date:'EEEE, d MMMM' }}
      </small>
    </h2>
  </div>
</div>
<div class="d-print-block">
  <h5 class="fw-bold">
    Periodeplan
    <small>
      {{ ngbUtility.toMoment(from)?.toDate() | date:'EEEE, d MMMM' }} - {{ ngbUtility.toMoment(to)?.toDate() | date:'EEEE, d MMMM' }}
    </small>
  </h5>
  <h6 *ngIf="selectedDriver">
    Chauffør: {{ selectedDriver.displayName }}
  </h6>
</div>
<div class="row">
  <div class="col-12 col-xl-2 order-xl-2 d-print-none">
    <aside class="float-end">
      <h5>Periode</h5>
      <div class="form-group">
        <ngb-datepicker #dp
                        ngModel
                        (ngModelChange)="onDateChange($event)"
                        [displayMonths]="1"
                        [dayTemplate]="t"
                        [showWeekNumbers]="true">
        </ngb-datepicker>
        <ng-template #t let-date="date" let-focused="focused">
          <span class="custom-day"
                [class.focused]="focused"
                [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hovered = date"
                (mouseleave)="hovered = null">
          {{ date.day }}
          </span>
        </ng-template>
      </div>
      <div class="list-group">
        <h5>Chauffører</h5>
        <button
          *ngFor="let driver of drivers$ | async"
          type="button"
          class="list-group-item list-group-item-action text-truncate pointer"
          [class.active]="selectedDriver?.$key === driver?.$key"
          (click)="selectedDriver = driver">
          {{driver.displayName}}
        </button>
      </div>
    </aside>
  </div>
  <div class="col-12 col-xl-10">
    <main *ngIf="trips$ | async as trips">
      <div *ngFor="let date of range">
        <h5 class="mt-4 mb-4">{{ ngbUtility?.toMoment(date)?.toDate() | date:'EEEE, d MMMM y'}}</h5>
        <app-trips [trips]="filterByDate(filterTripsByDriver(trips), date)"
                   (edit)="edit($event)"
                   (remove)="removeTrip($event)"></app-trips>
      </div>
    </main>
  </div>
</div>
