<div class="datetime-row">
  <mat-form-field class="picker-field" subscriptSizing="dynamic">
    <mat-label>{{ dateLabel() }}</mat-label>
    <input matInput readonly [formControl]="materialDateControl" [matDatepicker]="datePicker" [min]="minDate" (click)="datePicker.open()">
    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker [touchUi]="breakpoints.isMobile()"></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="picker-field" subscriptSizing="dynamic">
    <mat-label>{{ timeLabel() }}</mat-label>
    <input matInput readonly [formControl]="materialTimeControl" [matTimepicker]="timePicker">
    <mat-timepicker-toggle matIconSuffix [for]="timePicker"></mat-timepicker-toggle>
    <mat-timepicker #timePicker interval="15m"></mat-timepicker>
  </mat-form-field>
</div>
