<div class="row mt-4 mb-2 hidden-print">
  <div class="col-12">
    <h2 class="font-weight-bold">
      Dagsplan
      <small>{{ ngbUtility.toMoment(selectedDate) | date:'EEEE, d MMMM y' }}</small>
    </h2>
  </div>
</div>
<div class="visible-print-block">
  <h5 class="font-weight-bold">
    Dagsplan
    <small>{{ ngbUtility.toMoment(selectedDate) | date:'EEEE, d MMMM y' }}</small>
  </h5>
  <h6 *ngIf="selectedDriver">
    Chauffør: {{ selectedDriver.displayName }}
  </h6>
</div>
<div class="row">
  <div class="col-12 col-xl-2 push-xl-10 hidden-print">
    <aside class="float-right">
      <h5>Dato</h5>
      <div class="form-group">
        <ngb-datepicker [(ngModel)]="selectedDate"
                        [showWeekNumbers]="true">
        </ngb-datepicker>
      </div>
      <div class="list-group">
        <h5>Chauffører</h5>
        <button
          *ngFor="let driver of drivers"
          type="button"
          class="list-group-item list-group-item-action text-truncate pointer"
          [class.active]="selectedDriver?.$key === driver?.$key"
          (click)="selectedDriver = driver">
          {{driver.displayName}}
        </button>
      </div>
    </aside>
  </div>
  <div class="col-12 col-xl-10 pull-xl-2" style="margin-top: 30px">
    <main>
      <app-trips [trips]="filteredTrips"
                 (edit)="edit($event)"
                 (remove)="removeTrip($event)">
      </app-trips>
      <div class="row mt-4 mb-3 hidden-print">
        <div class="col-12 btn-group" data-toggle="buttons">
          <button type="button" class="btn btn-primary mr-3" (click)="create()">Opret tur</button>
          <ss-multiselect-dropdown [(ngModel)]="selectedTemplate"
                                   [options]="availableTemplates"
                                   [settings]="{dynamicTitleMaxItems: 10, enableSearch: true, selectionLimit: 1, buttonClasses: 'btn btn-default btn-block'}"
                                   [texts]="{defaultTitle: 'Vælg skabelon', searchPlaceholder: 'Søg'}">
          </ss-multiselect-dropdown>
          <button mwlConfirmationPopover
                  class="btn btn-primary"
                  [message]="'Er du sikker på, at du vil indsætte denne skabelon?'"
                  [confirmButtonType]="'success'"
                  [confirmText]="'Indsæt'"
                  [cancelText]="'Annuller'"
                  [appendToBody]="true"
                  (confirm)="insertTemplate()">
            Indsæt
          </button>
        </div>
      </div>
    </main>
  </div>
</div>
