<ng-template #empty><em class="hidden-print">Ingen ture.</em></ng-template>
<table class="table table-hover table-sm" *ngIf="trips && trips.length > 0; else empty">
  <thead>
  <tr>
    <th class="w-6">Start</th>
    <th class="w-6">Slut</th>
    <th>Tur</th>
    <th class="w-25">Chauffører</th>
    <th class="w-25">Køretøjer</th>
    <th class="w-5"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let trip of trips">
    <th>
      <span ngbTooltip="{{trip.start | date: 'short'}}" container="'body'">
      {{trip.start | date: 'HH:mm' }}
      </span>
    </th>
    <td class="text-muted">
      <span ngbTooltip="{{trip.end | date: 'short'}}" container="'body'">
        {{trip.end | date:'HH:mm' }}
      </span>
    </td>
    <td>
      {{trip.name}}
      <small class="text-muted visible-print-inline"><br>{{trip.description}}</small>
    </td>
    <td>
      <span *ngFor="let key of trip.drivers; let isLast=last">
      {{ getDriver(key)?.displayName }}{{isLast ? '' : ', '}}
      </span>
    </td>
    <td>
      <span *ngFor="let key of trip.vehicles; let isLast=last">
      {{ getVehicle(key)?.displayName }}{{isLast ? '' : ', '}}
      </span>
    </td>
    <td>
      <div class="pull-right icons hidden-print">
        <a class="pointer"
           (click)="editTrip(content, trip)">
          <i class="fa fa-pencil" ngbTooltip="Rediger"></i>
        </a>
        <a mwlConfirmationPopover
           class="pointer"
           [message]="'Er du sikker på, at du vil slette turen<br>\'' + trip.name + '\'?'"
           [confirmButtonType]="'danger'"
           [confirmText]="'Slet'"
           [cancelText]="'Annuller'"
           placement="left"
           (confirm)="removeTrip(trip)">
          <i class="fa fa-trash" ngbTooltip="Slet"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Rediger
      <small>{{beingEdited.name}}</small>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-trip-editor [trip]="beingEdited" (save)="c()"></app-trip-editor>
  </div>
</ng-template>
