<div class="row mt-4 mb-2 d-print-none">
  <div class="col-12">
    <h2 class="fw-bold">Skabeloner</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-2 order-xl-2 d-print-none">
    <aside>
      <div class="row list-group mb-4">
        <h5>Oversigt</h5>
        <button
          *ngFor="let template of templates$ | async"
          type="button"
          class="list-group-item list-group-item-action text-truncate pointer justify-content-between"
          [class.active]="selectedTemplate?.$key === template?.$key"
          (click)="selectedTemplate = template">

          {{template.name}}
          <a mwlConfirmationPopover
             class="pointer"
             [popoverMessage]="'Er du sikker på, at du vil slette skabelonen<br>\'' + template.name + '\'?'"
             [confirmButtonType]="'danger'"
             [confirmText]="'Slet'"
             [cancelText]="'Annuller'"
             [appendToBody]="true"
             placement="left"
             (confirm)="removeTemplate(template)">
            <i class="fa fa-trash" ngbTooltip="Slet" container="body"></i>
          </a>
        </button>
      </div>
      <div class="list-group">
        <form [formGroup]="templateForm" (ngSubmit)="createTemplate()">
          <div class="row form-group"
               [class.has-danger]="!templateForm.controls['name'].valid && templateForm.controls['name'].dirty">
            <label for="name">Opret skabelon</label>
            <div class="input-group">
              <input class="form-control" placeholder="Navn" id="name" formControlName="name">
              <button class="btn btn-secondary" type="button" (click)="createTemplate()">Opret</button>
            </div>
          </div>
        </form>
      </div>
    </aside>
  </div>
  <div class="col-12 col-xl-9" style="margin-top: 30px">
    <main>
      <app-trips [trips]="(trips$ | async) ?? []"
                 (edit)="edit($event)"
                 (remove)="removeTrip($event)">
      </app-trips>
      <div class="row mt-4 mb-3 d-print-none">
        <div class="col-12 btn-group">
          <button type="button" class="btn btn-primary me-3" (click)="create()">Opret tur</button>
        </div>
      </div>
    </main>
  </div>
</div>
