<div class="row mt-5 mb-3 hidden-print">
  <div class="col-12">
    <h2 class="font-weight-bold">Skabeloner</h2>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-3 push-lg-9 hidden-print">
    <aside>
      <div class="row list-group mb-4">
        <h5>Oversigt</h5>
        <button
          *ngFor="let template of templates"
          type="button"
          class="list-group-item list-group-item-action text-truncate pointer justify-content-between"
          [class.active]="selectedTemplate?.$key === template?.$key"
          (click)="selectedTemplate = template">

          {{template.name}}
          <a mwlConfirmationPopover
             class="pointer"
             [message]="'Er du sikker på, at du vil slette skabelonen<br>\'' + template.name + '\'?'"
             [confirmButtonType]="'danger'"
             [confirmText]="'Slet'"
             [cancelText]="'Annuller'"
             [appendToBody]="true"
             placement="left"
             (confirm)="removeTemplate(template)">
            <i class="fa fa-trash" ngbTooltip="Slet" container="body"></i>
          </a>
        </button>
      </div>
      <div class="list-group">
        <form [formGroup]="templateForm" (ngSubmit)="createTemplate()">
          <div class="row form-group"
               [class.has-danger]="!templateForm.controls['name'].valid && templateForm.controls['name'].dirty">
            <label for="name">Opret skabelon</label>
            <div class="input-group">
              <input class="form-control" placeholder="Navn" id="name" formControlName="name">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="createTemplate()">Opret</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </aside>
  </div>
  <div class="col-12 col-lg-9 pull-lg-3">
    <main>
      <app-trips [trips]="trips"
                 (edit)="edit($event)"
                 (remove)="removeTrip($event)">
      </app-trips>
      <app-trip-creator (create)="addTrip($event)"
                        [showDate]="false"
                        class="hidden-print">
      </app-trip-creator>
    </main>
  </div>
</div>
<!--<ng-template #content let-c="close" let-d="dismiss">-->
  <!--<div class="modal-header">-->
    <!--<h4 class="modal-title">Rediger skabelon-->
      <!--<small>{{beingEdited.name}}</small>-->
    <!--</h4>-->
    <!--<button type="button" class="close" aria-label="Close" (click)="d()">-->
      <!--<span>&times;</span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<app-trip-editor [trip]="beingEdited" (save)="c()"></app-trip-editor>-->
  <!--</div>-->
<!--</ng-template>-->
