<div class="row mt-5">
  <div class="col-12">
    <h2 class="font-weight-bold hidden-print">Dagsplaner</h2>
    <h4 class="visible-print-inline"><br>{{ utility.toJSDate(selectedDate) | date : 'longDate'}}</h4>
  </div>
</div>
<div class="row mt-5 pull-right">
  <div class="col-12 col-lg-3 push-lg-9 hidden-print">
    <aside>
      <div class="list-group mb-4">
        <h5>Dato
          <small>{{ utility.toJSDate(selectedDate) | date : 'mediumDate'}}</small>
        </h5>
        <div class="form-group">
          <ngb-datepicker [(ngModel)]="selectedDate"
                          [showWeekNumbers]="true">
          </ngb-datepicker>
          <div class="input-group">
          </div>
        </div>
      </div>
      <div class="list-group">
        <h5>Chauffører</h5>
        <button
          *ngFor="let driver of dataStore.getAllDrivers() | async"
          type="button"
          role="button"
          class="list-group-item list-group-item-action text-truncate"
          [class.active]="selectedDriver?.$key === driver?.$key"
          (click)="selectedDriver = driver">
          {{driver.displayName}}
        </button>
      </div>
    </aside>
  </div>
  <div class="col-12 col-lg-9 pull-lg-3">
    <main>
      <app-trips [trips]="filteredTrips"></app-trips>
      <app-trip-creator class="hidden-print"></app-trip-creator>
    </main>
  </div>
</div>
