<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark d-print-none" *ngIf="loggedIn$ | async">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#topbar" aria-controls="topbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-bus"></i></a>
    <div class="collapse navbar-collapse" id="topbar">
      <ul class="navbar-nav me-auto">
        <!--<li class="nav-item"><a class="nav-link" routerLink="/overview" routerLinkActive="active">Oversigt</a></li>-->
        <li class="nav-item"><a class="nav-link" routerLink="/day-plans" routerLinkActive="active">Dagsplaner</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/period-plans" routerLinkActive="active">Periodeplaner</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/templates" routerLinkActive="active">Skabeloner</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/drivers" routerLinkActive="active">Chauffører</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Køretøjer</a></li>
      </ul>
      <ul class="navbar-nav icons topbar-icons">
        <li class="nav-item">
          <a class="nav-link pointer" (click)="print()" ngbTooltip="Print" placement="bottom">Print</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" (click)="logout()" ngbTooltip="Log ud" placement="bottom">Log ud</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
