<div class="modal-header">
  <h4 class="modal-title">
    Opret login til {{driver.displayName}}
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    @if (error()) {
      <div class="alert alert-danger">{{error()}}</div>
    }
    <div class="form-group row"
         [class.has-danger]="!loginForm.controls['email'].valid && loginForm.controls['email'].dirty">
      <label for="email" class="col-3 col-form-label">E-mail</label>
      <div class="col-9">
        <input class="form-control" type="email" id="email" formControlName="email">
        @if (!loginForm.controls['email'].valid && loginForm.controls['email'].dirty) {
          <div class="form-control-feedback">
            En gyldig e-mail er påkrævet.
          </div>
        }
      </div>
    </div>
    <div class="form-group row mt-3"
         [class.has-danger]="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty">
      <label for="password" class="col-3 col-form-label">Kodeord</label>
      <div class="col-9">
        <input class="form-control" type="password" id="password" formControlName="password">
        @if (!loginForm.controls['password'].valid && loginForm.controls['password'].dirty) {
          <div class="form-control-feedback">
            Kodeordet skal være mindst 6 tegn.
          </div>
        }
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary float-end" [disabled]="!loginForm.valid || saving()">Opret login</button>
  </div>
</form>
