<div class="modal-header">
  <h4 class="modal-title">
    Rediger
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>

<form [formGroup]="driverForm" (ngSubmit)="onSubmit(); modal.close()">
  <div class="modal-body">
    <div class="form-group row"
         [class.has-danger]="!driverForm.controls['displayName'].valid && driverForm.controls['displayName'].dirty">
      <label for="displayName" class="col-2 col-form-label">Kaldenavn</label>
      <div class="col-10">
        <input class="form-control" type="text" id="displayName" formControlName="displayName">
        @if (!driverForm.controls['displayName'].valid && driverForm.controls['displayName'].dirty) {
          <div class="form-control-feedback">
            Et kaldenavn er påkrævet.
          </div>
        }
      </div>
    </div>
    <div class="form-group row"
         [class.has-danger]="!driverForm.controls['name'].valid && driverForm.controls['name'].dirty">
      <label for="name" class="col-2 col-form-label">Navn</label>
      <div class="col-10">
        <input class="form-control" type="text" id="name" formControlName="name">
        @if (!driverForm.controls['name'].valid && driverForm.controls['name'].dirty) {
          <div class="form-control-feedback">
            Et navn er påkrævet.
          </div>
        }
      </div>
    </div>
    <div class="row mt-3 form-group">
      <label for="birthday" class="col-2 col-form-label">Fødselsdag</label>
      <div class="col-5 col-md-3">
        <div class="input-group">
          <input ngbDatepicker
                 #d="ngbDatepicker"
                 id="birthday"
                 class="form-control"
                 placeholder="yyyy-mm-dd"
                 [showWeekNumbers]="true"
                 [minDate]="{year: 1900, month: 1, day: 1}"
                 (click)="d.toggle()"
                 formControlName="birthday">
          <div class="input-group-text" (click)="d.toggle()">
            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary float-end" [disabled]="!driverForm.valid">Gem</button>
  </div>
</form>
